.header {
  .MuiAppBar-colorPrimary {
    background-color: #61c0ac !important;

    .button-action {
      background-color: #121241 !important;
      border-radius: 8px !important;
      padding: 10px !important;
    }
  }
  /* Breadcrumbs không bị chồng lấp */
  .MuiBreadcrumbs-root {
    z-index: 100;
    position: relative;
  }
}
