@use "./../../assets/styles/cssBase.scss";

.content {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  width: 1500px;
  .card_seat {
    .status_seat {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .status_seat > img {
      margin-left: 40px;
      width: 40px;
    }
    .status_seat > p {
      margin-left: 5px;
      font-size: 1.2rem;
    }

    .content_tab {
      margin: 20px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      height: 600px;
      border: 1px solid #ccc;
      border-radius: 10px;
      div.col1 {
        img {
          margin-right: 20px;
          margin-top: 20px;
          width: 800px;
        }

        div.row_seat {
          margin-left: 60px;
          margin-right: 60px;
          height: 400px;
          img {
            width: 40px;
            float: left;
            margin-top: 5px;
            margin-left: 25px;
            margin-right: 20px;
            cursor: pointer;
          }
        }

        div.detail_seat {
          display: grid;
          grid-template-columns: 2.5fr 0.5fr;
          border-top: 1px solid #ccc;
          height: 87px;

          .price {
            h2 {
              margin-top: 10px;
              font-size: 2.5rem;
            }
            h3 {
              margin-top: 10px;
              font-size: 2rem;
            }
          }
          .timeout {
            border-left: 1px solid #ccc;
            h2 {
              margin-top: 10px;
              font-size: 2.5rem;
              color: red;
            }
            h3 {
              margin-top: 10px;
              font-size: 2rem;
            }
          }
        }
      }

      .col2 {
        border-left: 1px solid #ccc;
        h1 {
          font-size: 2.5rem;
          margin: 10px 0;
          text-decoration: underline;
          color: red;
        }
        .detail_movie {
          height: auto;
          width: 350px;
          position: sticky;
          top: 100px;
          border: 1px solid #ccc;
          margin-left: 80px;
          border-radius: 10px;
          img {
            margin: 10px 0;
            border-radius: 10px;
            width: 40%;
            height: 150px;
          }
          h1 {
            font-size: 2rem;
            margin-bottom: 20px;
            color: black;
            text-decoration: none;
          }
          p {
            text-align: left;
            font-size: 1.5rem;
            margin-bottom: 5px;
            margin-left: 10px;
          }
        }
        button {
          width: 30%;
          border-radius: 10px;
          font-size: 1.5rem;
          color: white;
          background-color: #1e83c5;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
