@use "./../../assets/styles/cssBase.scss";

.content {
  font-family: "Poppins", sans-serif;
  // margin-top: 20px;
  .card_seat {
    .content_tab {
      margin: 20px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-radius: 10px;
      div.col1 {
        .status_seat {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .status_seat > img {
          margin: 0px 3px 10px 50px;
          width: 40px;
        }
        .status_seat > p {
          margin-left: 5px;
          font-size: 1.4rem;
        }
        img {
          margin-right: 20px;
          margin-top: 20px;
          width: 800px;
        }

        div.row_seat {
          margin-left: 60px;
          margin-right: 60px;
          height: 400px;
          img {
            width: 40px;
            float: left;
            margin-top: 5px;
            margin-left: 25px;
            margin-right: 20px;
            cursor: pointer;
          }
        }

        div.detail_seat {
          display: grid;
          grid-template-columns: 2.5fr 0.5fr;
          // border-top: 1px solid #ccc;
          height: 87px;
        }
        .row_price {
          display: flex;
          justify-content: space-around;
          padding: 10px;
          font-size: 1.5rem;
          font-weight: 600;
          .timeout-wrapper-booking-seat {
            display: block;
          }
          .title_price {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }

      .col2 {
        h1 {
          display: flex;
          justify-content: center;
          font-size: 2.3rem;
          margin: 10px auto;
          color: red;
        }

        button {
          width: 30%;
          padding: 10px;
          margin-bottom: 10px;
          border-radius: 10px;
          font-size: 1.5rem;
          color: white;
          background-color: #1e83c5;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }
  }
}
