@use "./../../assets/styles/cssBase.scss";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  border-bottom: 1px solid #ccc;
  background-color: #eee;
  font-size: 1.6rem;

  .nav-content {
    position: relative;

    .header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;

      .header-left {
        display: flex;
        align-items: center;
        flex: 1;

        .header-logo {
          display: inline-block;
          width: 95%;
          object-fit: cover;
        }
      }
      .header-center {
        // position: relative;
        flex: 5;
        width: 100%;
        .header__nav {
          display: flex;
          align-items: center;

          li {
            .dropdown {
              display: inline-block;
              select {
                text-align: center;
                padding: 5px;
                width: 200px;
                font-size: 1.5rem;
                font-family: "Poppins", sans-serif;
                border: 1px solid #6c6969;
                border-radius: 8px;
              }
            }

            a {
              padding: 15px;
              color: cssBase.$primary-color;
              text-decoration: none;
              display: block;
              text-align: center;
              font-size: 1.6rem;
              &.active {
                color: #9d3b0a; // Đổi màu chữ khi active
              }
            }
            a:hover {
              border-radius: 15px;
              opacity: 0.9;
              background: #ccc;
            }

            .input-search {
              width: 200px;
              height: 30px;
              border-radius: 15px;
              border: 1.8px solid #6c6969;
            }
            .input-search::placeholder {
              padding-left: 10px;
              font-family: "Poppins", sans-serif;
              font-size: 1.6rem;
            }
            // .search-icon {
            //   position: absolute;
            //   width: 30px;
            //   height: 30px;
            //   top: 20px;
            //   left: 50%;
            // }
          }
        }
        // Chọn Dropdow
        ul li:first-child {
          margin-right: 10px;
        }
        // Chọn Search
        ul li:last-child {
          margin-left: 10px;
        }
      }
      .header-right {
        flex: 1;
        .login-actions {
          .action-link {
            color: cssBase.$primary-color;
            margin-right: 20px;
            font-weight: 400;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
.support__icon {
  position: fixed;
  bottom: 10px;
  right: 10px;
  img {
    width: 50px;
    // height: 40px;
    border-radius: 50%;
  }
  &:hover {
    cursor: pointer;
  }
}
.top__scroll {
  position: fixed;
  bottom: 70px;
  right: 10px;
  img {
    width: 50px;
    border-radius: 50%;
  }
  &:hover {
    cursor: pointer;
  }
}
