@use "./../../assets/styles/cssBase.scss";
.movies__content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(
    5,
    minmax(240px, 1fr)
  ); // Thiết lập số cột tự động
  grid-auto-rows: auto;
  padding: 20px;
  justify-items: center; // Căn giữa các thẻ phim
}
